version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: /start-web.sh
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app:delegated
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: /start-worker.sh
    env_file: .env
    volumes:
      - .:/app:delegated
    depends_on:
      - redis
      - web
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
